body {
 font-family: Arial, Helvetica, sans-serif;
background-color: #f5f6fa;
color: #333;
line-height: 1.6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #fff;
    
    padding: 20px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
}

nav {
 margin-top: 10px;
}

nav button {
    padding: 8px 15px;
    margin: 5px;
    border: 1px solid #ccc;
    background-color:   #eee;
    cursor: pointer;
    border-radius: 5px;
}

section {
    background-color: #fff;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
h2 {
    text-align: center;
    margin-bottom: 10px;
}
p {
    text-align: center;
    margin-bottom: 15px;

}


article {
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;

}

ul {
    list-style-position: inside;  
}

footer {
    background-color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    border-top: 1px solid #ccc;
    border-radius: 5px;
}

.carrossel {
    width: 400px;
    height: 400px;
    margin: 30px auto 10px;
    overflow: hidden;
    border-radius: none;
}

.carrossel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.carrossel img.ativa {
    display: block;
}

.Botoes {
    text-align: center;
}

.Botoes button {
    padding: 12px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #7293a9;
    color: white;
    font-size: 16px;
}

.Camisas {
    width: 80%;
    margin-left: 90px;
    border-collapse: collapse;
    border-radius: 5px;
}

.Camisas th,
.Camisas td {
    padding: 10px;
}